OPEN_AI_SECRET=example
OPENAI_API_KEY=example
OPENAI_ORGANIZATION_ID=example
JWT_SECRET=example
COOKIE_SECRET=example
PORT=example

GOOGLE_API_KEY=example

MONGODB_URL=example
MONGODB_USER=example
MONGODB_USERPASSWORD=example

# MONGODB_ATLAS_URI = "your-atlas-url";
MONGODB_ATLAS_COLLECTION_NAME = example
MONGODB_ATLAS_DB_NAME = example


ELASTICSEARCH_USER=example
ELASTICSEARCH_PASSWORD=example
ELASTIC_URL=example

export LANGCHAIN_TRACING_V2="true"
export LANGCHAIN_API_KEY=example


$env:ELASTIC_PASSWORD="example" #password has been reset to k6HSmbq9cWmTSlMGuaE=
$env:KIBANA_PASSWORD="example"

# PINECONE_APIKEY = a3c530cc-b102-4c93-95b0-b17a839bfa74
# export ELASTIC_PASSWORD=123456  # password for "elastic" username
# export KIBANA_PASSWORD=123456   # Used _internally_ by Kibana, must be at least 6 characters long