@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: "Roboto Slab", serif;


}

html,
body,
#root,
main {
  height: 100%;
  overflow: hidden;
}

.image-inverted {
  filter: invert(100%);
}

.css-4x75j8-MuiPaper-root-MuiAppBar-root {
  display: flex;
  flex-direction: row !important;
}

.nav_link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.css-99wn1p-MuiList-root-MuiMenu-list {
  background-color: #000 !important;
}

.css-1awogxv-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: rgb(125 125 125) !important;
}

.custom-select-file-type .customIndexSelector {
  width: 59%
}

.customFileTypeSelector {
  width: 40%;
}

.customFileTypeSelector,
.customIndexSelector {
  margin-bottom: 10px;
}

.custom-select-file-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.customIndexSelector,
.customIndexSelector .MuiSvgIcon-root {
  color: white !important;
  /* line-height: 0 !important; */

}

.customFileTypeSelector,
.customFileTypeSelector .MuiSvgIcon-root {
  color: white !important;
}

.containerFileName {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(17, 27, 39);
  display: flex;
}


.customFileName {
  width: 1271.42px;

}

.css-1sh91j5-MuiButton-startIcon {
  margin-right: 0px !important;
}

.css-1qc4xje-MuiButtonBase-root-MuiButton-root {
  font-size: 20px !important;
}

input.customInputFile {}

input#file-upload-button {}


.custom-scrollbar {
  display: flex;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 15px;
  /* Chiều rộng của thanh cuộn */
  padding: 10px
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #ffffff00;
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo góc cho thanh cuộn */
}

/* Thanh trượt (phần bạn kéo) */
::-webkit-scrollbar-thumb {
  background-color: #ffffff00;
  /* Màu của thanh trượt */
  border-radius: 10px;
  /* Bo góc cho thanh trượt */
  border: 5px solid #ffffff00;
  /* Tạo khoảng cách giữa thanh trượt và track */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff2b;
  /* Màu khi hover */
}


#main::webkit-scrollbar-thum {
  display: none !important;

}

p {
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.css-1sh91j5-MuiButton-startIcon>*:nth-of-type(1) {
  font-size: 25px !important;
}

.custom-fileName {
  font-size: 20px;
}

.user .MuiBox-root.css-0 {
  background-color: #282B30;
  padding: 15px 25px;
  border-radius: 100px;

}

.assistant .MuiBox-root.css-0 {
  background-color: #00000000;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  width: 75%;
}

.css-dallb3,
.css-kx3h6j {
  background-color: #ffffff00 !important;
}


.nav-link {
  width: 100%;

}

.leftNaviContainer .nav-link div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 16px;
  color: #fff;
}

.leftNaviContainer .nav-link div:hover {
  background-color: #1D2025 !important;
}

.leftNaviContainer .nav-link div p {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.leftNaviContainer a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.leftNaviContainer {
  width: 100%;
  padding: 10px 0; 
  height: 100%;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
}

.leftNaviContainer .nav-link {
  width: 100%;
  height: 48px;

}

.leftNaviContainer a.nav-link {
  /* background-image: linear-gradient(#00000000, #00000000); */
  /* padding: 1px; */
  border-radius: 16px;
  overflow: hidden;
}

.leftNaviContainer a.nav-link:hover {
  /* background-image: linear-gradient(#01F58C, #A3EE6B) !important; */
  /* padding: 1px; */
  border-radius: 16px;
  border: 1px solid #01F58C !important;
}

.chat .leftNaviContainer a.nav-link.chat,
.admin .leftNaviContainer a.nav-link.admin {
  /* background-image: linear-gradient(#01F58C, #A3EE6B) !important; */
  border: 1px solid #01F58C !important;
  /* padding: 1px; */
  /* border-radius: 16px; */
  display: flex;

}

.leftNaviContainer a.nav-link.chat .leftNaviContainer a.nav-link::before {
  background-color: #004d56 !important;
}

.leftNaviContainer .nav-link span {
  margin-left: 15px;

}


.header a {
  color: #000 !important;
  display: flex;

}

.header {
  display: flex;
}

.nav-container {
  width: 100%;

}

.css-1l99aaj {
  justify-content: space-between !important;
}

.clear-model {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.customFont {
  font-family: 'Figtree', sans-serif !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  text-align: left !important;
}

.userInfo {
  display: flex;
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 20px;
}

.leftNavi_userInfo {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 10px;

}

.clearButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: fit-content
}

.clearButton button {
  width: 52px;
    border: 1px solid #1d2025;
    height: 52px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /* gap: 10px; */
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #1d2025;
    cursor: pointer;
    padding-inline: 0px;
    justify-content: center;
}

.clearButton button:hover {
  border: 1px solid #F22D3D !important;
}

.chat,
.admin, .undefined {
  display: flex;
  flex-direction: column;
}

.deleteChatSpan {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  align-items: center;
}

.clear_logout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history_input_chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  /* background-color: #1D202566; */
  border-radius: 40px;
  
}

.containerSend {
  width: fit-content;
  height: -webkit-fill-available;

}

.background-imgCustom {
  /* background-image: url("https://s3-alpha-sig.figma.com/img/bc2a/b89d/295a786f5375ff0e70be4f826ce56519?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C4VPuWasGu8RhvNdidr1uGt0jnmhi2Q9hxeQpV0uCY-J7BsfHW4qEj6rrxvrDlXFq~NxNwVdwv2KJMWh~p~IxKUNzkEIUh-IJsZnOQihg3mQOs5nxycWvkobm-gTZjTKvDb0ccz7wleJiJK3ej9G1aH207jGy6211q4nN3o6eJdWM61RG3etPjaFYmcuitQNl38v70a4SuhJQBxkIYTwzsuW~HdQvWUHX5~uTNM2WYMEy7bJJ3C3qxXOD6uWk93dZwajb6Qu2Fi1gD6IcERkVBxOXMwzEiZ7DHgegXmKNlT~d0MTVjXeSApPvCyQHGM1KG0SQ~mdf4TzAUgVg9eyVw__"); */
  border-radius: 10000px;
  /* background-size: 1 1; */
}

.webLoaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1D202566;
  padding: 20px;
  height: fit-content;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  border-radius: 20px;
}

.logOutContainer {
  width: 100%;
  padding: 0 15px;
  color: #F22D3D;
}

.logOutContainer .nav-container {
  width: fit-content;
    display: flex;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.nav-link.logout {
  display: flex;
  width: fit-content;
  
}

.logOutContainer .nav-link.logout {
  border-radius: 100px;
  border: 1px solid #00000000 !important;  
  text-decoration: unset;
} 

.logOutContainer p {
  font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-decoration: normal;
}


.logOutContainer a.logout:hover p {
  color: #F22D3D !important;
  text-decoration: underline;
}

.css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14px 14px !important;
}

.textWhiteColor .MuiSelect-select.MuiSelect-standard.MuiInputBase-input.MuiInput-input.css-5bvx1p-MuiSelect-select-MuiInputBase-input-MuiInput-input
, .textWhiteColor svg {
  color: #fff;
}



::-webkit-scrollbar-thumb {
  background-color: unset !important;
  border-radius: 0 !important;
  border: unset !important;
}
.ChatGPT_container {
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 1024px) {
  .nav-container p {
    display: none;
  }
}