@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: "Roboto Slab", serif;


}
.h-1division10 {
  height: 10%
}

.h-9division10 {
  height: 90%
}

/* Scroll bar */


::-webkit-scrollbar {
  width: 2px; /* width of the scrollbar */
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(22 101 52 / var(--tw-text-opacity, 1));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* scrollbar thumb color on hover */
}

::-webkit-scrollbar-track {
  background: #00000000; /* scrollbar track color */
  border-radius: 10px;
}
/* Scroll bar */

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.h-95percent {
  height: 91%;
}

.no-margin {
  margin: 0 !important;
}

.go2072408551 {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity, 1));
  color: #fff;
}


/* Style the autocomplete suggestions */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* Override the default yellow background */
  -webkit-box-shadow: 0 0 0 30px rgba(23, 23, 23, 0) inset !important;
  
  /* Change text color of the autocomplete text */
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  
  /* Optional: Add a transition for smooth color changes */
  transition: background-color 5000s ease-in-out 0s;
}

/* Style the autocomplete dropdown menu */
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Firefox specific styles */
input:-moz-autofill,
input:-moz-autofill:focus {
  background-color: rgb(23, 23, 23) !important;
  color: rgb(163, 163, 163) !important;
}

/* Microsoft Edge styles */
input:-ms-input-placeholder {
  color: rgb(163, 163, 163) !important;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Style the custom checkbox */
.custom-checkbox div span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #00000000; /* Default background */
  border: 2px solid #00000000;
  border-radius: 2px; /* Optional for rounded corners */
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  border: 1px solid;
}

/* Change background when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked + div span {
  background-color: rgba(1, 245, 140, 1);
  border-color: rgba(1, 245, 140, 1);
}

/* Add a checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + div span::after {
  content: "";
  position: absolute;
  top: 0.01rem;
  left: 0.30rem;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.bg-green-custom {
  background-color: rgba(1, 245, 140, 1);
}
.text-green-custom {
  color: rgba(1, 245, 140, 1);
}

:root {
  --font-figtree: 'Figtree', sans-serif;
}

body {
  font-family: var(--font-figtree);
}


@font-face {
  font-family: 'Power Grotesk';
  src: url('./assets/fonts/PowerGrotesk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.power-grotesk {
  font-family: 'Power Grotesk', sans-serif !important;
}
