@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}

.image-inverted {
  filter: invert(100%);
}

.css-4x75j8-MuiPaper-root-MuiAppBar-root {
  display: flex;
  flex-direction: row !important;
}

.nav_link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.css-99wn1p-MuiList-root-MuiMenu-list {
  background-color: #000 !important;
}

.css-1awogxv-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: rgb(125 125 125) !important;
}
.custom-select-file-type .customIndexSelector {
  width: 59%
}
.customFileTypeSelector {
  width: 40%;
}
.customFileTypeSelector, .customIndexSelector {
  margin-bottom: 10px;
}
.custom-select-file-type {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.customIndexSelector,
.customIndexSelector .MuiSvgIcon-root {
  color: white !important;
  /* line-height: 0 !important; */

}

.customFileTypeSelector, .customFileTypeSelector .MuiSvgIcon-root {
  color: white !important;
}

.containerFileName {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(17, 27, 39);
  display: flex;
}


.customFileName {
  width: 1271.42px;

}

.css-1sh91j5-MuiButton-startIcon {
  margin-right: 0px !important;
}
.css-1qc4xje-MuiButtonBase-root-MuiButton-root {
  font-size: 20px !important; 
}

input.customInputFile {}

input#file-upload-button {}


.custom-scrollbar {
  display: flex;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 15px;
  /* Chiều rộng của thanh cuộn */
  padding: 10px
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #ffffff00;
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo góc cho thanh cuộn */
}

/* Thanh trượt (phần bạn kéo) */
::-webkit-scrollbar-thumb {
  background-color: #ffffff00;
  /* Màu của thanh trượt */
  border-radius: 10px;
  /* Bo góc cho thanh trượt */
  border: 5px solid #ffffff00;
  /* Tạo khoảng cách giữa thanh trượt và track */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff2b;
  /* Màu khi hover */
}


#main::webkit-scrollbar-thum {
  display: none !important;

}

p {
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.css-1sh91j5-MuiButton-startIcon>*:nth-of-type(1) {
  font-size: 25px !important;
}

.custom-fileName {
  font-size: 20px;
}